ET/n8n/workflows/canvas-chat-pipeline.json
{
  "id": "canvas-chat-v3",
  "name": "Jaegeren Canvas Chat Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jaegeren-canvas-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "webhookId": "jaegeren-canvas-chat"
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an intelligence analyst assistant for Jægeren (ET Hunter), serving Danish business professionals and senior analysts.\n\nThe user is reading a synthesized news story and engaging with it through iterative prompting. This follows a \"Contract then Expand\" model — the user has narrowed down to this topic and now wants to go deeper.\n\nRULES:\n1. Answer questions in the chat. Be concise, direct, analyst-grade.\n2. When you want to modify the story, ASK FIRST: \"Would you like me to add this to the story?\" — unless the user explicitly asked for a change (e.g., \"shorten this\", \"add the Senate angle\").\n3. When modifying, return updated content in <story_update>full updated story</story_update> tags.\n4. Stay within the topic scope. Do NOT drift to unrelated subjects.\n5. Focus on the last 24 hours. Don't rehash background unless asked.\n6. If source material is limited: \"Limited source material. I can look for a broader perspective if you wish?\" — NEVER fabricate or pad.\n7. You can suggest: \"I can go deeper into [X] or explore [Y]\" — but don't auto-generate unsourced content.\n8. The user may ask you to: shorten, expand, remove generic text, add a new angle, translate, restructure, add analysis, compare with other events. Support all of these.\n9. Properly render Danish characters (Æ, Ø, Å) — never garbled or ASCII fallback.\n10. Preserve all existing tags: <pull_quote>, <chart_data>, <stat_callout>, [BACKGROUND] markers. Add new ones only when supported by sources."
            },
            {
              "role": "user",
              "content": "={{ 'CURRENT STORY CONTENT:\\n' + $json.body.story_content + '\\n\\nCHAT HISTORY:\\n' + JSON.stringify($json.body.chat_history) + '\\n\\nUSER MESSAGE:\\n' + $json.body.user_message }}"
            }
          ]
        },
        "options": {
          "maxTokens": 4096,
          "temperature": 0.3
        }
      },
      "id": "claude-chat",
      "name": "Claude Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [220, 0],
      "credentials": {
        "anthropicApi": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response: $json.message?.content ?? $json.text ?? $json.output ?? 'No response generated', story_id: $('Chat Webhook').first().json.body.story_id }) }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 0]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [{ "node": "Claude Chat", "type": "main", "index": 0 }]
      ]
    },
    "Claude Chat": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "jaegeren" }, { "name": "v3" }]
}
