ET/n8n/workflows/rss-ingestion-pipeline.json
{
  "id": "J3nEYLoNYGek74wo",
  "name": "Advanced Think Tank RSS Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, -100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "att-ingest",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "On-Demand Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 100],
      "webhookId": "att-ingest"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://qwknvxpzmkkmeeziumok.supabase.co/rest/v1/sources?select=id,slug,name,feed_url,region,language,source_type,fetch_interval_minutes&is_active=eq.true&source_type=eq.rss&feed_url=not.is.null",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3a252eHB6bWtrbWVleml1bW9rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY0OTM5NywiZXhwIjoyMDkwMjI1Mzk3fQ.UrvSK5h_MUPJs5TK3K08zTGJrvfQR_DB315_kVCXNGA"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-sources",
      "name": "Fetch Sources",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "notes": "Fetch all active RSS sources with full metadata from Supabase."
    },
    {
      "parameters": {
        "jsCode": "// Build feed items from database sources\nconst allItems = $('Fetch Sources').all();\nconst sources = allItems.map(item => item.json);\n\nconst feeds = sources\n  .filter(s => s.feed_url && s.feed_url.startsWith('http'))\n  .map(s => ({\n    json: {\n      source_id: s.id,\n      source_slug: s.slug,\n      source_name: s.name,\n      source_region: s.region || 'Global',\n      source_language: s.language || 'en',\n      url: s.feed_url\n    }\n  }));\n\nif (feeds.length === 0) {\n  return [{ json: { _error: 'No active RSS sources found', _skip: true } }];\n}\n\nreturn feeds;"
      },
      "id": "feed-list",
      "name": "Feed List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "none",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "read-rss",
      "name": "Fetch RSS XML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse raw RSS/Atom/RDF XML and extract items.\n// CRITICAL: Carry source metadata through from Feed List by index.\nconst items = $input.all();\nconst feedListItems = $('Feed List').all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  // Get source metadata for this feed by matching index\n  const source = feedListItems[i]?.json || {};\n  \n  const xml = item.json.data || item.json.body || item.json.response || '';\n  if (!xml || typeof xml !== 'string') continue;\n  \n  // Skip HTML responses (broken feeds return HTML instead of RSS)\n  if (xml.trim().startsWith('<!DOCTYPE html') || xml.trim().startsWith('<html')) continue;\n  \n  // Extract <item> (RSS 2.0 / RDF 1.0) or <entry> (Atom) blocks\n  const itemBlocks = xml.match(/<item[\\s>][\\s\\S]*?<\\/item>/gi) || \n                     xml.match(/<entry[\\s>][\\s\\S]*?<\\/entry>/gi) || [];\n  \n  if (itemBlocks.length === 0) continue;\n  \n  for (const block of itemBlocks) {\n    const getTag = (tag) => {\n      // Try CDATA first, then regular content\n      const cdataRe = new RegExp('<' + tag + '[^>]*><!\\\\[CDATA\\\\[([\\\\s\\\\S]*?)\\\\]\\\\]></' + tag + '>', 'i');\n      const plainRe = new RegExp('<' + tag + '[^>]*>([\\\\s\\\\S]*?)</' + tag + '>', 'i');\n      const m = block.match(cdataRe) || block.match(plainRe);\n      return m ? m[1].trim() : null;\n    };\n    \n    const getAttr = (tag, attr) => {\n      const re = new RegExp('<' + tag + '[^>]*?' + attr + '=[\"\\']([^\"\\']*)[\"\\']', 'i');\n      const m = block.match(re);\n      return m ? m[1] : null;\n    };\n    \n    // Extract image URL from multiple possible tags\n    const imageUrl = getAttr('media:thumbnail', 'url') || \n                     getAttr('media:content', 'url') ||\n                     getAttr('enclosure', 'url') ||\n                     getAttr('image', 'url') ||\n                     null;\n    \n    const title = getTag('title') || '';\n    const link = getTag('link') || getAttr('link', 'href') || '';\n    const pubDate = getTag('pubDate') || getTag('published') || getTag('updated') || getTag('dc:date') || '';\n    const description = getTag('description') || getTag('content:encoded') || getTag('content') || getTag('summary') || '';\n    const creator = getTag('dc:creator') || getTag('author') || null;\n    const guid = getTag('guid') || getTag('id') || link;\n    \n    // Clean CDATA wrappers and HTML entities\n    const clean = (s) => s ? s.replace(/^<!\\[CDATA\\[/, '').replace(/\\]\\]>$/, '').replace(/&amp;/g,'&').replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&quot;/g,'\"').replace(/&#39;/g,\"'\").trim() : s;\n    \n    if (!title && !link) continue;\n    \n    let isoDate;\n    try {\n      isoDate = pubDate ? new Date(pubDate).toISOString() : new Date().toISOString();\n    } catch(e) {\n      isoDate = new Date().toISOString();\n    }\n    \n    results.push({\n      json: {\n        title: clean(title),\n        link: clean(link),\n        pubDate: pubDate,\n        'content:encoded': description,\n        description: description,\n        contentSnippet: clean(description).replace(/<[^>]+>/g, '').substring(0, 500),\n        guid: clean(guid),\n        isoDate: isoDate,\n        imageUrl: imageUrl,\n        creator: creator,\n        // CARRY SOURCE METADATA — this is the key fix\n        _source_id: source.source_id,\n        _source_name: source.source_name,\n        _source_slug: source.source_slug,\n        _source_region: source.source_region,\n        _source_language: source.source_language\n      }\n    });\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];"
      },
      "id": "parse-rss",
      "name": "Parse RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [770, 0]
    },
    {
      "parameters": {
        "jsCode": "// Process RSS items into enriched article records.\n// Source metadata is now carried from Parse RSS via _source_* fields.\nconst items = $input.all();\n\n// FNV-1a hash using charCodeAt\nfunction fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = Math.imul(h, 0x01000193);\n  }\n  return h >>> 0;\n}\n\n// Keyword-based topic classification\nconst TOPIC_RULES = [\n  { topic: 'Economics', keywords: ['gdp', 'inflation', 'interest rate', 'central bank', 'monetary policy', 'fiscal', 'recession', 'economic growth', 'unemployment', 'debt', 'deficit', 'imf', 'world bank', 'oecd', 'ppi', 'cpi', 'yield', 'economy', 'economist'] },\n  { topic: 'Geopolitics', keywords: ['war', 'conflict', 'military', 'sanctions', 'nato', 'security council', 'territorial', 'sovereignty', 'diplomatic', 'diplomacy', 'embassy', 'ceasefire', 'nuclear', 'missile', 'troops', 'invasion', 'alliance', 'geopolit', 'talks', 'summit', 'negotiat', 'peace deal', 'prisoner exchange', 'regime', 'kremlin', 'pentagon', 'white house', 'foreign minister', 'foreign policy', 'zelensky', 'putin', 'ukraine', 'gaza', 'israel', 'iran', 'xi jinping', 'trump'] },\n  { topic: 'Business', keywords: ['ceo', 'revenue', 'profit', 'merger', 'acquisition', 'ipo', 'startup', 'market share', 'quarterly', 'earnings', 'shareholder', 'board of directors', 'layoff', 'restructur', 'company', 'corporate', 'billion', 'million deal'] },\n  { topic: 'Technology', keywords: ['ai ', 'artificial intelligence', 'chip', 'semiconductor', 'software', 'data center', 'cloud computing', 'cyber', 'quantum', 'blockchain', 'robot', 'autonomous', '5g', 'tech giant', 'openai', 'google', 'apple', 'microsoft', 'nvidia', 'deepfake'] },\n  { topic: 'Energy', keywords: ['oil', 'gas price', 'opec', 'renewable', 'solar', 'wind power', 'nuclear energy', 'hydrogen', 'lng', 'crude', 'barrel', 'carbon', 'emission', 'grid', 'energy'] },\n  { topic: 'Defense', keywords: ['defense', 'defence', 'arms', 'weapon', 'military spending', 'procurement', 'fighter jet', 'navy', 'army', 'air force', 'drone', 'radar', 'artillery', 'air defense'] },\n  { topic: 'Trade', keywords: ['tariff', 'trade war', 'trade deal', 'customs', 'wto', 'free trade', 'supply chain', 'logistics', 'freight', 'shipping', 'quota', 'dumping', 'export ban', 'import ban'] },\n  { topic: 'Climate', keywords: ['climate', 'global warming', 'paris agreement', 'cop2', 'greenhouse', 'net zero', 'sustainable', 'deforestation', 'biodiversity', 'flood', 'drought', 'wildfire'] },\n  { topic: 'Finance', keywords: ['stock', 'bond', 'forex', 'bitcoin', 'crypto', 'banking', 'hedge fund', 'private equity', 'venture capital', 'fintech', 'insurance', 'credit', 'loan', 'mortgage', 'wall street', 'investor'] },\n  { topic: 'Healthcare', keywords: ['health', 'pharma', 'vaccine', 'pandemic', 'hospital', 'medical', 'drug', 'clinical trial', 'fda', 'biotech', 'patient', 'disease'] },\n  { topic: 'Infrastructure', keywords: ['infrastructure', 'railway', 'highway', 'bridge', 'construction', 'housing', 'real estate', 'transit', 'airport', 'broadband'] },\n  { topic: 'Legal', keywords: ['court', 'lawsuit', 'regulation', 'compliance', 'antitrust', 'gdpr', 'legislation', 'ruling', 'verdict', 'prosecutor', 'attorney', 'legal'] }\n];\n\nfunction classifyTopics(title, content) {\n  const text = (title + ' ' + (content || '')).toLowerCase();\n  const matched = [];\n  for (const rule of TOPIC_RULES) {\n    for (const kw of rule.keywords) {\n      if (text.includes(kw)) {\n        matched.push(rule.topic);\n        break;\n      }\n    }\n  }\n  if (matched.length === 0) return ['General'];\n  return matched.slice(0, 5);\n}\n\nconst articles = items\n  .filter(item => item.json.title && item.json.link && !item.json._skip)\n  .slice(0, 500)\n  .map(item => {\n    // Use source metadata carried through from Parse RSS\n    const sourceId = item.json._source_id;\n    const sourceName = item.json._source_name;\n    const sourceSlug = item.json._source_slug;\n    const sourceRegion = item.json._source_region || 'Global';\n    const sourceLanguage = item.json._source_language || 'en';\n    \n    // Skip articles with no source attribution\n    if (!sourceId || !sourceName) return null;\n    \n    const content = (item.json['content:encoded'] || item.json.description || item.json.title || '')\n      .replace(/<[^>]*>/g, '').trim();\n\n    const author = item.json.creator || item.json['dc:creator'] || item.json.author || null;\n\n    const h = fnv1a(item.json.link);\n    const urlHash = h.toString(16).padStart(8, '0');\n\n    const pad = (s, n) => s.padStart(n, '0').slice(0, n);\n    const h1 = h.toString(16);\n    const h2 = (h >>> 4).toString(16);\n    const h3 = (h >>> 8).toString(16);\n    const h4 = (h >>> 12).toString(16);\n    const h5 = (h >>> 16).toString(16);\n    const articleId = `${pad(h1,8)}-${pad(h2,4)}-4${pad(h3,3)}-8${pad(h4,3)}-${pad(h5,12)}`;\n\n    const publishedAt = item.json.isoDate || item.json.pubDate || item.json.date || null;\n    const topicTags = classifyTopics(item.json.title, content);\n\n    return {\n      json: {\n        pinecone_id: `${sourceSlug}-${urlHash}`,\n        article_id: articleId,\n        title: item.json.title.trim(),\n        url: item.json.link.trim(),\n        content: content.substring(0, 2000),\n        excerpt: content.substring(0, 300),\n        source: sourceName,\n        source_slug: sourceSlug,\n        source_id: sourceId,\n        source_name: sourceName,\n        author: author,\n        language: sourceLanguage,\n        region: sourceRegion,\n        topic_tags: topicTags,\n        is_processed: true,\n        published_at: publishedAt || new Date().toISOString(),\n        image_url: item.json.imageUrl || null,\n      }\n    };\n  })\n  .filter(a => a !== null);\n\nreturn articles.length > 0 ? articles : [{ json: { _skip: true } }];"
      },
      "id": "process-articles",
      "name": "Process Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-empty",
      "name": "Filter Empty",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://advanced-think-tank-fq9hhsz.svc.aped-4627-b74a.pinecone.io/records/namespaces/articles/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: $json.pinecone_id, content: $json.content, title: $json.title, source: $json.source, source_slug: $json.source_slug, published_at: $json.published_at, url: $json.url, article_id: $json.article_id, region: $json.region, topic_tags: $json.topic_tags }) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 500
            }
          }
        }
      },
      "id": "upsert-pinecone",
      "name": "Upsert to Pinecone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -50],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zahj6NSfAvBycdRM",
          "name": "Pinecone API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qwknvxpzmkkmeeziumok.supabase.co/rest/v1/articles",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3a252eHB6bWtrbWVleml1bW9rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY0OTM5NywiZXhwIjoyMDkwMjI1Mzk3fQ.UrvSK5h_MUPJs5TK3K08zTGJrvfQR_DB315_kVCXNGA"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3a252eHB6bWtrbWVleml1bW9rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY0OTM5NywiZXhwIjoyMDkwMjI1Mzk3fQ.UrvSK5h_MUPJs5TK3K08zTGJrvfQR_DB315_kVCXNGA"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: $json.article_id, source_id: $json.source_id, title: $json.title, url: $json.url, content: $json.content, excerpt: $json.excerpt, published_at: $json.published_at, embedding_id: $json.pinecone_id, source_name: $json.source_name, author: $json.author, language: $json.language, region: $json.region, topic_tags: $json.topic_tags, is_processed: $json.is_processed, image_url: $json.image_url || null }) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 300
            }
          }
        }
      },
      "id": "upsert-supabase",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://qwknvxpzmkkmeeziumok.supabase.co/rest/v1/sources?id=eq.{{ $json.source_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3a252eHB6bWtrbWVleml1bW9rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY0OTM5NywiZXhwIjoyMDkwMjI1Mzk3fQ.UrvSK5h_MUPJs5TK3K08zTGJrvfQR_DB315_kVCXNGA"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3a252eHB6bWtrbWVleml1bW9rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY0OTM5NywiZXhwIjoyMDkwMjI1Mzk3fQ.UrvSK5h_MUPJs5TK3K08zTGJrvfQR_DB315_kVCXNGA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ last_fetched_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "update-source-timestamp",
      "name": "Update Source Timestamp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -50],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On-Demand Webhook": {
      "main": [
        [
          {
            "node": "Fetch Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sources": {
      "main": [
        [
          {
            "node": "Feed List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feed List": {
      "main": [
        [
          {
            "node": "Fetch RSS XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Articles": {
      "main": [
        [
          {
            "node": "Filter Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Empty": {
      "main": [
        [
          {
            "node": "Upsert to Pinecone",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Pinecone": {
      "main": [
        [
          {
            "node": "Update Source Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Supabase": {
      "main": []
    },
    "Fetch RSS XML": {
      "main": [
        [
          {
            "node": "Parse RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSS": {
      "main": [
        [
          {
            "node": "Process Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "V4 fixed pipeline: Proper source tracking through the entire pipeline. Fetches 29 RSS feeds from Supabase sources table. Parses RSS/Atom/RDF formats. Carries source_id through Parse RSS → Process Articles to prevent misattribution. Dual-writes to Pinecone and Supabase. Skips HTML responses from broken feeds."
  }
}
